  #card-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        width: 100%;
        justify-content: center;
        /* justify-content: center; */
      }
.appContainer{

    position: absolute;
    top: 16%;
    left: 0;
    right: 0;
    bottom: 0;
    gap: 1%;
    display: flex;
    flex-direction: column;
    /* justify-content:space-evenly; */
    align-items: center;
    padding: 4px;
}
      .card {
        perspective: 1000px;
        color: white;
        width: 20%;
        height: 470px;

        /* background-color: pink; */
      }

      .card-inner {
        /* position: relative;
    width: 310px;
    height: 500px; */
        /* position: absolute; */
        width: 100%;
        height: 100%;

        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        cursor: pointer;
      }

      .card.is-flipped .card-inner {
        transform: rotateY(180deg);
      }

      .card-front,
      .card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border: 1px solid var(--text-color);
        border-radius: 10px;
        box-shadow: 0 4px 4px rgba(255, 255, 255, 0.5);
        background-color: var(--background-color);
        padding: 0;
        box-sizing: border-box;
        margin: 0;
        text-align: center;
        /* display: flex;
    flex-direction: column; */
        /* align-items: center;
    justify-content: flex-start;
    contain: content; */
        /* justify-content: space-evenly; */
      }

      .card-back {
        transform: rotateY(180deg);
      }

      .cardImg {
        width: 100px;
        height: 100px;
        border-radius: 50%;
      }
      .teamImg {
        width: 40px;
        height: 40px;
      }
      /* button {
    margin-top: 10px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
} */
      .rarityDiv {
        height: 7%;

        display: flex;
        align-items: center;
        justify-content: center;
      }
      .badge {
        display: inline-block;
        padding: 5px 10px;
        border-radius: 5px;
        background-color: var(--secondary-color);
        font-size: 12px;
      }
      .redbadge {
        display: inline-block;
        padding: 6px;
        border-radius: 5px;
        background-color: var(--carolina);
        font-size: 12px;
      }
      .greenbadge {
        display: inline-block;
        padding: 6px;
        border-radius: 5px;
        background-color: var(--vancouver);
        font-size: 12px;
      }
      .standard {
        background-color: var(--standard-color);
        color: var(--background-color);
      }
      .rare {
        background-color: var(--rare-color);
        color: var(--text-color);
      }
      .superrare {
        background-color: var(--superrare-color);
        color: var(--text-color);
      }
      .unique {
        background-color: var(--background-color);
        color: var(--text-color);
      }
      .stats {
            display: flex;
            justify-content: space-between;
        }
      .stats div {
            width: 30%;
            text-align: center;
        }
      @media (max-width: 768px) {
        .heroImg {
          width: 90%;
        }
        .card {
          perspective: 1000px;

          width: 40%;
          height: 480px;

          /* background-color: pink; */
        }
      }